/* From Uiverse.io by Cybercom682 */ 
.number-control {
    display: flex;
    align-items: center;
  }
  
  .number-left::before,
  .number-right::after {
    content: attr(data-content);
    background-color: #B4F077;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 20px;
    padding: 0.20rem;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .number-left::before {
    content: "-";
  }
  
  .number-right::after {
    content: "+";
  }
  
  .number-quantity {
    padding: 0.25rem;
    border: 0;
    width: 50px;
    -moz-appearance: textfield;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
  }
  
  .number-left:hover::before,
  .number-right:hover::after {
    background-color: #88b759;
  }
  